.dropdown_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    background-color: rgb(177,196,108, 0.2);
    color: var(--secondary-color);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.dropdown_header:hover{
    cursor: pointer;
}

.dropdown_header h2{
    font-size: 1.2rem;
    font-weight: var(--medium);
}

.hidden {
    height: 0;
    width: 0;
    position: fixed;
    left: -500px;
    opacity: 0;
}