.date_input_container{
    width: 100%;
    user-select: none;
}

.date_input{
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 10px;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.selected_date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.date_input_icon{
    box-sizing: content-box;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(177,196,108, 0.2);
}

.date_input_icon:hover{
    cursor: pointer;
}

.date_input_icon:hover > svg{
    transform: scale(1.1);
}

.hidden {
    height: 0;
    width: 0;
    position: absolute;
    left: -500px;
}

.label{
    font-size: 1.4rem;
    margin: 0;
}

.error_msg{
    margin: 0;
    font-size: 0.7rem;
    font-style: italic;
    color: red;
}