.dropdown_container{
    overflow: hidden;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #000000;
    width: auto;
    display: flex;
    flex-direction: column;
    transition: height 0.3s ease-out, background-color 0.5s ease;
    z-index: 10;
    position: relative;
    background-color: #FFFFFF;
}

.dropdown_header{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
}

.selected_item{
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
}

.selected_item:focus{
    outline: none;
}

.dropdown_header_icon {
    height: 100%;
    min-width: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s ease;
    border-left: 2px solid rgb(177,196,108, 0.4);
}

.dropdown_header_icon:hover {
    cursor: pointer;
    background-color: rgb(177,196,108, 0.2);
}

.dropdown_header_icon svg{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter_items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(177,196,108, 0.4);
    border-bottom: 1px solid rgb(177,196,108, 0.4);
    overflow: hidden;
}

.filter_items_input{
    height: 100%;
    border: none;
    margin: 0;
    padding-left: 10px;
    background-color: rgb(177,196,108, 0.2);
    flex-grow: 1;
}

.filter_items_input:focus{
    outline: none;
}

.filter_items_icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(177,196,108, 0.2);
    color: #FFFFFF;
    padding-left: 10px;
}

.filter_items_icon svg{
    height: 20px;
    width: 20px;
}

.dropdown_options{
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    padding: 5px;
}

.dropdown_options::-webkit-scrollbar {
    background: transparent;
  }

.dropdown_options::-webkit-scrollbar-thumb {
    background-color: rgb(177,196,108, 0.3);
    border-radius: 10px;
  }

  .dropdown_options::-webkit-scrollbar-thumb:hover, .dropdown_options::-webkit-scrollbar-thumb:active {
    background-color: rgb(177,196,108, 0.6);
  }

.dropdown_options span{
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.dropdown_options span:hover{
    cursor: pointer;
    background-color: rgb(177,196,108, 0.2);
}

.hidden {
    height: 0;
    width: 0;
    position: absolute;
    left: -500px;
}

.label{
    font-size: 1.4rem;
    margin: 0;
}
