.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.form label{
    margin: 7px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}