.odd{
    background-color: rgb(177,196,108, 0.2);
}

tr:hover{
    background-color: rgb(52,79,4,0.6); 
    color: #FFFFFF;
}

.highlighted{
    background-color: rgb(177,196,108, 0.2);
    border: none;
}

.myrow{
    animation-name: fade_slide_in;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease;
}

td{
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b1b1b1;
}
.myrow p {
    margin: 0;
}

.zipcode_container{
    width: calc(100% + 40px);
    display: grid;
    grid-template-columns: auto 40px;
    transition: width .5s;
}

.myrow:hover .zipcode_container {
    width: 100%;
    opacity: 1;
}

.myrow .icons{
    opacity: 0;
    transition: .5s;
}

.myrow:hover .icons{
    opacity: 1;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.icons > svg{
    transition: transform .3s;
}


.icons > svg:hover{
    transform: scale(1.1);
    color: #FFFFFF;
    cursor: pointer;
}

@keyframes fade_slide_in {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.inputfield{
    width: 85%;
}