.odd{
    background-color: rgb(177,196,108, 0.2);
}

tr:hover{
    background-color: rgb(52,79,4,0.6);
    color: #FFFFFF;
}

.highlighted{
    background-color: rgb(177,196,108, 0.2);
    border: none;
}

.myrow{
    animation-name: fade_slide_in;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease;
}

@keyframes fade_slide_in {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}